@model CupomDesconto.Models.Cupom

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cupom</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percentual_Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percentual_Desconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loja.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="voltarLista">Voltar para a lista</a>
</div>
