@model IEnumerable<CupomDesconto.Models.Cupom>

@{
    ViewData["Title"] = "Index";
}

<h1>Cupons</h1>

<p>
    <a asp-action="Create">Cadastrar cupom</a>
</p>
<div class="cupons">
    @foreach (var item in Model)
    {
        <div class="cupom">
            <div class="cupom-descricao">
                <div class="cupom-descricao-titulo">
                    <p>@Html.DisplayFor(modelItem => item.Loja.Nome)</p>
                </div>
                <div class="cupom-descricao-valor">
                    @if (item.Valor_Desconto.HasValue)
                    {
                        <p>R$ @Html.DisplayFor(modelItem => item.Valor_Desconto) </p>
                    }
                </div>
                <div class="cupom-descricao-valor">
                    @if (item.Percentual_Desconto.HasValue)
                    {
                        <p> @Html.DisplayFor(modelItem => item.Percentual_Desconto) %</p>
                    }
                </div>

                <div class="cupom-descricao-validade">
                    @if (item.DataValidade.HasValue)
                    {
                        <p>Valor: @Html.DisplayFor(modelItem => item.DataValidade) %</p>
                    }
                </div>

                <div class="cupom-descricao-codigo">
                    <p>@Html.DisplayFor(modelItem => item.Codigo)</p>
                </div>
                <div class="cupom-descricao-regra">
                    <p>@Html.DisplayFor(modelItem => item.DataValidade)</p>
                </div>
                <div class="cupom-descricao-botoes">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a>
                </div>
            </div>
        </div>
    }
</div>
